html {
  width: 100%;
  height: 100%;
  font-family: "Courier New", Courier, monospace;
  color: white;
  background-color: #2f3237;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 1280px;
  background-color: #3b3f45;
}

#panel {
  max-width: 300px;
}

label {
  display: block;
  margin: 10px 0;
}

input {
  padding: 10px;
  height: 20px;
  border: 0;
}

#join {
  display: inline;
  width: 50px;
  height: 30px;
  padding: 0;
  border: 0;
  margin-left: 10px;
}

#create {
  display: inline;
  height: 30px;
  padding: 0 10px;
  border: 0;
}

.hidden {
  display: none !important;
}

#roomCode {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 0.5em 0.5em;
  font-size: 13px;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(720px + 20px);
  height: calc((180px * 3) + 20px);
  align-items: center;
  gap: 10px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  direction: rtl;
  padding-left: 20px;
  scroll-snap-type: y mandatory;
  align-content: safe center; /* doesn't work on safari */
}

.preview {
  position: relative;
  display: inline-block;
  flex: 1 1 30%;
  max-width: 240px;
  aspect-ratio: 4/3;
  background: #2f3237;
  scroll-snap-align: start;
}

/* one preview (alone) */
.preview:first-child:nth-last-child(2),
.preview:first-child:nth-last-child(2) ~ .preview {
  max-width: 640px;
}

/* 2, 3, or 4 previews */
.preview:first-child:nth-last-child(3),
.preview:first-child:nth-last-child(3) ~ .preview,
.preview:first-child:nth-last-child(4),
.preview:first-child:nth-last-child(4) ~ .preview,
.preview:first-child:nth-last-child(5),
.preview:first-child:nth-last-child(5) ~ .preview {
  max-width: 361px;
  min-height: calc(361px * (3 / 4));
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
}

.icons {
  position: absolute;
  bottom: 5px;
  left: 5px;
  height: 1.5em;
}

.icon {
  width: 1em;
  height: 1em;
  padding: 0.25em;
  background-color: #0003;
  border-radius: 7px;
}

#controls {
  transition: 0.05s ease-in;
  font-size: 24px;
}

#controls .icon {
  background-color: #0007;
  transition: 0.05s ease-in;
  cursor: pointer;
}

#controls.inverted .icon {
  outline: 1px solid #fff7;
}

#controls.inverted .icon:hover {
  background-color: #fff7;
}
