html {
  width: 100%;
  height: 100%;
  font-family: "Courier New", Courier, monospace;
  color: white;
  background-color: #2f3237;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 1280px;
  background-color: #3b3f45;
}

#panel {
  max-width: 300px;
}

label {
  display: block;
  margin: 10px 0;
}

input {
  padding: 10px;
  height: 20px;
  border: 0;
}

#join {
  display: inline;
  width: 50px;
  height: 30px;
  padding: 0;
  border: 0;
  margin-left: 10px;
}

#create {
  display: inline;
  height: 30px;
  padding: 0 10px;
  border: 0;
}

#roomCode {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 0.5em 0.5em;
  font-size: 13px;
}

video {
  background-color: #2f3237;
}

#localScreen {
  display: block;
  position: relative;
}

#localScreen video {
  background-color: #35383e;
}

#gallery {
  overflow-y: hidden;
  overflow-x: scroll;
  height: 166px;
  background-color: #35383e;
  margin-top: 10px;
  font-size: 0; /* hack because of how browsers render in-source newlines */
}

#alone {
  margin: 2em auto 0;
  width: fit-content;
}

.hidden {
  display: none !important;
}

.preview {
  position: relative;
  display: inline-block;
}

#gallery .preview:not(:first-of-type) {
  margin-left: 7px;
}

.icons {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 7px;
  margin-bottom: 7px;
}

.icon {
  width: 1em;
  height: 1em;
  padding: 0.25em;
  background-color: #0003;
  border-radius: 7px;
}

.control {
  width: 1.5em;
  height: 1.5em;
  transition: 0.05s ease-in;
  vertical-align: bottom;
}

.control:hover {
  background-color: #0007;
  transition: 0.05s ease-in;
  cursor: pointer;
}
